* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100vh;
  background-color: #efefef;
}

.header {
  width: 100%;
  height: 5.62em;
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25em;
}

.header-button-menu {
  border: none;
  cursor: pointer;
}

.header-button-menu i {
  font-size: 2em;
}

@media screen and (min-width: 50em) {
  .header {
    padding: 0 3.75em;
  }

  .header-button-menu {
    display: none;
  }
}

.header-nav-content {
  list-style: none;
  display: flex;
  gap: 1.25em;
  text-transform: uppercase;
}

.header-nav-content li a {
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 500;
}

@media screen and (max-width: 50em) {
  .header-nav {
    display: none;
  }
}

.slider-container {
  width: 100%;
  height: 18.12em;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.slider-content {
  width: 100%;
  max-width: 55.87em;
  height: 18.12em;
}

.slider-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container {
  width: 100%;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text-content {
  max-width: 25.87em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.87em;
}

.main-text-content h1 {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
}

.main-text-content h2,
h3 {
  font-size: 0.87em;
  font-weight: 500;
}

.main-text-content ul {
  padding: 0 0 0 1.12em;
  font-size: 0.87em;
  font-weight: 500;
}

.main-img-content {
  width: 100%;
  max-width: 20.31em;
  height: 13.25em;
  margin-top: 1em;
}

.main-img-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 420px) {
  .main-img-content {
    margin: 1em auto;
  }
}

@media screen and (min-width: 50em) {
  .main-container {
    padding: 1em;
  }

  .main-middle-box {
    display: flex;
    justify-content: space-between;
    max-width: 55.87em;
    width: 100%;
  }

  .main-img-content {
    margin-top: 0;
  }
}

.main-detail-box {
  margin-top: 3.5em;
}

.main-detail-box h2 {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.main-cars-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin-top: 1em;
  align-items: center;
}

.car-item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.car-item-img {
  min-width: 12.25em;
  max-width: 12.25em;
  min-height: 10.18em;
  max-height: 10.18em;
  margin: 0 auto;
}

.car-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car-item a {
  font-size: 0.75em;
  margin-top: 0.5em;
  color: #000;
}

@media screen and (min-width: 50em) {
  .main-cars-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 62.5em) {
  .main-cars-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-detail-box h2 {
    text-align: left;
  }
}

.footer {
  width: 100%;
  height: 8.75em;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  padding: 0 0.5em;
}

.footer ul {
  list-style: none;
  display: flex;
  gap: 1.25em;
  text-transform: uppercase;
}

.footer ul li a {
  text-decoration: none;
  color: #efefef;
  font-weight: 500;
}

@media screen and (max-width: 25em) {
  .footer ul li a {
    font-size: 0.87em;
  }
}
